body { 
	color: #369; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: #cff;
	margin: 0; 
	padding: 0;
}
p { font-size: 12px; line-height: 18px; }
td {}
a:link { color: blue ; text-decoration: none; }
a:visited { color: purple }
a:hover {
	color: #FF0000;
	text-decoration: underline;
}
a:active { color: red }
.box1Pharm {
	background-image:  url(images/syringe03.jpg);
	background-repeat: repeat-x;
	background-position: left center;
	border: 0px none #99FF99;
}
.titlePharm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
 background-color: #6699FF; color: #003333;
}
.aTitle {
	font-size: 18px;
	color: #003333;
	text-decoration: none;
}
.afooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #00FF00;
	background-color: #CCFF99;
	text-decoration: none;
}
.caption {
	font-style: italic;
}
.sectTitle {
	font-family: "Jokerman LET";
	font-size: 72px;
	line-height: 96px;
	color: #FFFF00;
}
.footerPharm {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #000066;
	background-color: #66FFFF;
}
.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}