body { 
	color: #369; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 0.8em;
	background-color: #cff;
	margin: 0;
	padding-left: 120px;    /* LC fullwidth */
	padding-right: 320px;   /* RC fullwidth + CC padding */
	min-width: 120px;       /* LC fullwidth + CC padding */
}
p {
	padding-left: 5px;
}
#header, #footer {
	margin-left: -120px;    /* LC fullwidth */
	margin-right: -320px;   /* RC fullwidth + CC padding */
}
a:link { color: blue ; text-decoration: none; }
a:visited { color: purple }
a:hover {
	color: #FF0000;
	text-decoration: underline;
}
a:active { color: red }

.titlePharm {
	font-size: 18px;
	line-height: 20px;
 background-color: #6699FF; color: #003333;
}
.footerPharm {
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #000066;
	background-color: #66c9ff;
}

.indent120 { margin-left: 120px; }
.text { 
	padding: 0;
	width: 100%;
  	clear: both; 
}
.column {
	position: relative;
	float: left;
}
#left {
	width: 120px;           /* LC width */
	padding: 0 10px;        /* LC padding */
	right: 120px;           /* LC fullwidth + CC padding */
	margin-left: -100%;
}

#right {
	width: 300px;           /* RC width */
	padding: 0 10px;        /* RC padding */
	margin-right: -100%;
	background: #8fffff
}

#logo  { 
	background-color: white; 
	background-image: url(images/mulogo.gif); 
	background-repeat: no-repeat; 
	height: 25px; 
	clear: both; }
#header {
	background-image:   url(images/syringe03.jpg);	
	background-repeat: repeat-x;
	height: 105px;
}
#footer {
	clear: both;
	padding-left: 120px}
.butNav {
	float: left;
	width: 16%;
	padding: 5px}
#gototop{
	position: fixed;
	left: 20px;
	bottom: 20px;
	font-size: 12px;}
/*** IE Fix ***/
* html #left {
	left: 300px;            /* RC fullwidth */
}
.bannerPh {
	background-image:   url(images/syringe03.jpg);	
	background-repeat: repeat-x;
	height: 105px;
	width: 100%;
	clear: both }
#container{
  background-color:#04fdfd;
  float:left;
  width:300px;
  border-left:300px solid #66ffff;  
  /* The width and color of the left rail */
  border-right:300px solid #66ffff; 
  /* The width and color of the right rail */
}
#leftRail{
  float:left;
  width:300px;
  margin-left:-300px;
  position:relative;
}
#center{
  float:left;
  width:300px;
  margin-right:-300px;

}
#rightRail{
  float:right;
  width:300px;
  margin-right:-300px;
  position:relative;

}
