body  { font-size: 12px; color: #336699; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 18px; background-color: #cff; margin: 0; padding: 0; }
a { font-size: 12px; font-family: Verdana, Arial, Helvetica, sans-serif; line-height: 24px; text-decoration: none; }
.legal {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
}
.references   { 
	font-size: 10px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	line-height: 12px; 
	text-align: left; 
	left: auto 
}
.box1Pharm {
	background-image:  url(images/syringe03.jpg);
	background-repeat: repeat-x;
	background-position: left center;
	border: 0px none #99FF99;
}
.titlePharm {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
 background-color: #6699FF; color: #003333;
}
a:hover {
	color: #FF0000;
	text-decoration: underline;
}
.aTitle {
	font-size: 18px;
	color: #003333;
	text-decoration: none;
}
.afooter {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #00FF00;
	background-color: #CCFF99;
	text-decoration: none;
}
.caption {
	font-style: italic;
}
.sectTitle {
	font-family: "Jokerman LET";
	font-size: 72px;
	line-height: 96px;
	color: #FFFF00;
}
.footerPharm {
  font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	color: #000066;
	background-color: #66FFFF;
}
a:visited { }
.alignR { 
	color: blue; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	text-align: right 
}
.top { 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-weight: bold; 
	text-align: right; 
	right: 12px; 
	float: left
}
