.ParNormalParagraphStyle {}
.ParBodytext {text-indent: 24.00pt;}
.ParCaption {font-style: italic; font-size: 10.00pt;}
.ParHangingindent {margin-left: 12.00pt; text-indent: -12.00pt;}
.ParHeadline {font-weight: bold; font-size: 30.00pt;}
.ParSubhead1 {font-size: 18.00pt; font-weight: bold;}
.ParSubhead2 {font-size: 12.00pt; font-weight: bold;}