body  { 
	color: black; 
	font-size: 12px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	background-color: white; 
	margin: 0;
	padding: 0px;
	 }
h1, .drugname   { 
	color: #0000ff; 
	font-size: 24px; 
	font-family: Verdana; 
	font-weight: bold 
	}
h3, .subhead3 { 
	font-size: 12px; 
	font-style: italic;
	font-weight: bold;
	}
a:link, a:visited { 
	color: blue ; 
	text-decoration: none; 
	}
a:hover {
	color: #FF0000;
	text-decoration: none;}
a:active { 
	color: red 
	}
ul {
	 list-style: none;
	 padding-left: 10px;	
	}
#ajax {
    margin-left: 120px;
    }
#drugsdiv {
	/* position: absolute; */
	background-color: yellow;
	margin-top: 0;
	/* margin-left: 120px; */
	padding: 10px;
	width: 150px;
    float: left;
	}
#sidebar {
    /* position: absolute; */
	background-color: #cfbbff ;
	/* margin-left: 290px; */
	margin-left: 170px;
	padding: 10px;
	width: 300px;
	}
#banner {
	background-color: #c000cf;
	height: 105px;
	padding-left: 120px;
	overflow: hidden;
	}
#bannerText {
	color: yellow;
	width: 400px;
	float: right;
	margin-right: 50px;
	font-size: 10px;
	}
#gototop{
	position: fixed;
    font-size: 12px; 
	left: 45px;
	top: 40px;
	text-shadow: 1px 1px 1px #fff;
}
#buttons {
	/*
position: absolute;
	 top: 450px;
	 width: 120px;
*/
    top: 20px;
    margin-left: 10px;
    }
#navn   { 
	 position: absolute;
	 top: 115px;
	 width: 120px;
	 margin-left: 0;
	 left: -25px\9; /*IE hack */
	}
#navn ul   { 
	 padding-left: 0;
	}
#navn li {
	line-height: 1.5;
	}
#navn ul li a {
    font-family: "Courier New";
	color: navy; 
	font-weight: bold; 
	font-size: 24px;
	padding-left: 20px;
}
#footer {
	clear: both;
	padding-left: 120px;
	}
#logo  { 
	background-position: 20px; 
	background-color: white; 
	background-image: url(images/mulogo.gif); 
	background-repeat: no-repeat; 
	height: 25px; 
	text-align: right;
	margin-left: -100px;
	font-size: 10px;	 
}
#text {
    padding-left: 130px;
    clear: both;
    }
/*
.navL {
	font-family: "Courier New";
	color: navy; 
	font-weight: bold; 
	font-size: 24px;
	padding-left: 20px;
	}
*/
.header {
	color: navy; 
	font-weight: bold; 
	font-size: 12px;
	}
.smalltext {
	font-size: 10px;
/* 	font-weight: normal; */
}
.butNav {
	float: left;
	width: 15%;
	padding: 5px;
	}