#dropnav {
	margin-left:5px;
	padding-left:5px;
	text-indent: 5px;
	list-style: none;
}
#foldheader{cursor:pointer; cursor:hand; font-weight:normal; font-family:arial, sans-serif; font-size: 12px; text-align: left; list-style-image:url(images/fold.gif)
}
#foldinglist{font-weight:plain; font-family:arial, sans-serif; font-size:11px; text-align:left; list-style-image:url(images/list.gif)
}

