<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "nz.ac.massey.pharmacologyformulary"
    version   = "1.0.21">

<name>Pharmacology Formulary</name>

<description>
Pharmacology Formulary.
</description>

<author href="http://calve.massey.ac.nz/pharm" email="J.P.Chambers@massey.ac.nz">
Paul Chambers
</author>
<preference name="phonegap-version" value="2.7.0" />
<preference name="webviewbounce" value="false" />
<icon src="icon.png" />
<gap:splash src="splash.png" />

<gap:splash src="splash/ios/Default.png" gap:platform="ios" width="320" height="480" />
<gap:splash src="splash/ios/Default_at_2x.png" gap:platform="ios" width="640" height="960" />
<gap:splash src="splash/ios/Default_iphone5.png" gap:platform="ios" width="640" height="1136" />
<gap:splash src="splash/ios/Default-Landscape.png" gap:platform="ios" width="1024" height="768" />
<gap:splash src="splash/ios/Default-Portrait.png" gap:platform="ios" width="768" height="1024" />

<!-- retina iPad support: PhoneGap 2.5.0+ only -->
<gap:splash src="splash/ios/Default-Landscape_at_2x.png" gap:platform="ios" width="2048" height="1496" />
<gap:splash src="splash/ios/Default-Portrait_at_2x.png" gap:platform="ios" width="1536" height="2008" />

</widget>
