td  {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;


}
.header  { color: navy; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 17px;}
.commonname { color: #0000FF; font-weight: bold; font-size: 24px; font-family: Arial, Helvetica, sans-serif}
a:hover {
	color: #009900;
}
.smalltext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
}
.drugname   { color: #0000ff; font-size: 24px; font-family: Verdana; font-weight: bold }
.titlesSpaced {
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 1px;
	padding-left: 0px;
}
.formBodytext { font-size: 12px; font-family: Verdana }
.subhead3 { font-size: 12px; font-family: Verdana; font-style: italic; font-weight: bold }
.subscript { font-size: 10px; font-family: Verdana; vertical-align: sub }
.superscript { font-size: 10px; vertical-align: super }
body  { 
	color: black; 
	font-size: 12px; 
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	line-height: 24px; 
	background-color: white; 
	margin: 0;
	padding: 0px;
	 }
