body {
	color: #033;
	font: 0.8em/1.2 Verdana, Arial, Helvetica, sans-serif;
	background-color: #FFFF99;
	margin: 0;
}
h1 {
	color: #ffffce;
	font: 2em/1.2;
	background-color: #9cce00;
}
h2{
	color: green;
	background-color: yellow;
	font: 1.3em/1.2;
}
a {
	color: blue;
	text-decoration: none
}
a:hover {
	color: blue;
	text-decoration: underline
}
a:target {
	visibility:visible;
}
#container {
	margin-left:15em;
	}
.hidden {
	visibility:hidden;
}
.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: yellow;
   font-size: 1.5em;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   text-decoration: none;
   }
.button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   text-decoration: none;
   }