body { color: black; background-color: white; }
.Latinname  { color: teal; font-style: italic; font-size: 14px; font-family: Arial, Helvetica, sans-serif}
.header  { color: navy; font-weight: bold; font-family: Arial, Helvetica, sans-serif; font-size: 17px;}
body  { color: black; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 14px; background-image: url(images/bracken-lf-grn.jpg); }
.commonname { color: red; font-weight: bold; font-size: 24px; font-family: Arial, Helvetica, sans-serif}
.caption {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
	font-style: italic;
}
.plant {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
}
.references {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #000000;
	text-align: left;
	text-indent: 20px;

}
.captionsmallpics {
font-size: 14px; font-family: Arial, Helvetica, sans-serif; text-align: center
}
a { color: blue;
text-decoration: none }
a:hover {
	color: red;
	text-decoration: none
}
a:active {
color: green;
text-decoration: none }

.headerTox {
	color: #003300;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	background-color: #00CC00;
}
.smHeaderTox {
	color: #003300;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	background-color: #00FF00;
}
.brackenBG { background-image: url(images/bracken-lf2.jpg) }
.brackenGr { background-image: url(images/bracken-lf-grn.jpg) }
#text {
	width: 600px;
	float: left;
	background: orange;
	padding: 5px;
	margin-left: 10px

}
#container   { background-color: fuchsia; text-align: left; width: 950px; }
#horzMenu {
	height: 50px;
	background-color: yellow;
	padding: 0 0 0 5px;
	width: 950px;
}
	#horzMenu ul {
	margin: 0;
	text-align: center;
	list-style: none;
	}
	
	#horzMenu ul li {
	display: inline;
	padding: 0 0 0 23px;
	}
	
	#horzMenu ul li a {
	color: blue;
	font: bold 14px/25px Geogia;
	text-decoration: none;
	padding: 3px 8px;
	}
	
	#horzMenu ul li a:hover{
	text-decoration: none;
	background-color: green;
	color: red;
	}
	
#photos {
	width: 300px;
	float: right;
	background-color: teal;
	}
	#photos img {
		border: 0;
		}
#photosLeft {
	width: 145px;
	float: left;
	background-color: silver;
	}
#photosRight {
	width: 145px;
	float: right;
	background-color: aqua;
	}
	
#logo  {
	background-color: yellow;
	padding: 5px;
	clear: both;
	width: 950px
	}

