.ParNormalParagraphStyle {}
.ParBodytext {font-size: 10.00pt; text-indent: 24.00pt; font-family: Adobe Garamond Pro; text-align: justify;}
.Parboxtext {font-size: 10.00pt; font-family: Myriad Pro;}
.Parboxtitle {font-weight: bold; font-size: 14.00pt; font-family: Myriad Pro;}
.ParCaption {font-style: italic; text-indent: 0.00pt; font-size: 10.00pt; font-family: Adobe Garamond Pro; text-align: justify;}
.Parchapterhead {font-size: 72.00pt; font-family: Jokerman LET;}
.Parcommondrugs {font-weight: bold; font-size: 18.00pt; text-indent: 0.00pt; font-family: Myriad Pro; text-align: center;}
.ParHangingindent {font-size: 10.00pt; margin-left: 12.00pt; text-indent: -12.00pt;}
.ParHeadline {font-weight: bold; font-size: 48.00pt; font-family: Helvetica;}
.ParMCQbranch {text-indent: 18.00pt; font-size: 10.00pt; font-family: Adobe Garamond Pro; text-align: justify;}
.ParMCQstem {text-indent: 0.00pt; font-size: 10.00pt; font-family: Adobe Garamond Pro; text-align: justify;}
.Parsectionhead {font-size: 30.00pt; margin-left: 18.00pt; font-family: Copperplate Gothic Bold;}
.Parsidelight {font-size: 9.00pt; margin-left: 7.20pt; text-indent: 0.00pt; font-family: Adobe Garamond Pro; text-align: justify;}
.ParSubhead1 {font-size: 24.00pt; font-family: Copperplate Gothic Bold;}
.ParSubhead2 {font-size: 12.00pt; margin-top: 10.80pt; font-family: Copperplate Gothic Bold;}
.Parsubhead3 {font-size: 10.00pt; margin-top: 10.80pt; font-family: Copperplate Gothic Bold;}
.Partable {text-indent: 0.00pt; font-size: 10.00pt; font-family: Adobe Garamond Pro; text-align: justify;}
.Partabletext {text-indent: 0.00pt; text-align: left; font-size: 10.00pt; font-family: Adobe Garamond Pro;}
.ParTOCbodytext {}
.ParTOCchapterhead {font-size: 18.00pt; margin-left: 14.15pt; text-indent: -14.15pt; font-family: Jokerman LET;}
.ParTOCHeadline {margin-left: 14.15pt; text-indent: -14.15pt;}
.ParTOCsectionhead {margin-left: 7.20pt; text-indent: 0.00pt; text-align: left; font-size: 10.00pt; font-family: Adobe Garamond Pro;}
.ParTOCSubhead1 {font-size: 9.00pt; margin-left: 18.00pt; text-indent: 0.00pt; text-align: left; font-family: Adobe Garamond Pro;}
.ParTOCtitle {font-size: 72.00pt; margin-bottom: 14.15pt; font-family: Jokerman LET; text-align: center;}
.Charbold {font-weight: bold;}
.Charitalics {font-style: italic;}
.Charsubscript {vertical-align: sub;}
.Charsuperscript {vertical-align: super;}
.Charsymbol {font-family: Symbol;}
.Chartextdrugname {font-weight: bold;}
.CharURL {font-family: Courier Std;}
.Charwarning {font-weight: bold;}