/*general*/
body  {
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: rgba(75,0,130,1);
	background-color: rgba(255, 192, 203, 0.1);
	line-height: 1.5;
	margin: 0;
	padding: 0;
}
h1 { /*=titleSG*/
	color: #003333;
	font-size: 18px;
	line-height: 20px;
	background-color: rgba(255, 192, 203, 0.3);
	padding-left: 12px;
	text-shadow: 1px 1px 1px pink;
}
h1:target {
	color: yellow;
	background: red
	text-shadow: 1px 1px 1px pink;
}
h2 {/* =footerSG */
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	background-color: rgba(255, 192, 203, 0.2) ;
	padding-left: 10px;
	text-shadow: 1px 1px 1px pink;
}
h2:target, h3:target {
	color: yellow;
	background: lime;
	text-shadow: 1px 1px 1px pink;
}
h3 {/* =sgH3 */
	color: #369;
	font-size: 12px;
	font-weight: bold;
}
h4 {
	color: #369;
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
}
a {
	color: blue;
	text-decoration: none;
}
a:hover {
	color: red;
	text-decoration: none;
}
td, th {
	font-size: 12px;
	color: #333333;
	margin: 0px;
}
ul {
	color: #369;
	padding: 10;
}
blockquote {
	font-size: 12px;
	line-height: 18px;
}
/*id*/
#text {
	margin-top: 0;
	padding-left: 10px;
	padding-right: 5px;
	margin-left: 120px;
	margin-right:50px; }
#footer {
	margin-top: 0;
	padding-left: 10px;
	padding-right: 5px;
	margin-left: 120px;
	clear:both;
	}
#bannerSG {
	background-image:   url(images/med-bottle-red1.jpg), url(images/MassyLogo.png);
	background-position: left center, 98%;
	background-repeat: no-repeat;
	background-color: rgba(255, 192, 203, 0.2);
	height: 80px;
	width: 100%;
}

#gototop {
	position: fixed;
	left: 40px;
	top: 30px;
	text-shadow: 1px 1px 1px #fff;
}
#gototop a:hover {
	color: red;
	text-decoration: none;
	background-color: yellow;
}
#boxes {
	float: right;
	width:300px;
	margin-left: 10px;
}
#sumbox {
	color: #000;
	background-color: #FF3333;
	padding: 5px;
	margin-bottom: 15px;
	margin-top: 15px;
}
#drugbox {
	color:#000;
	background-color: fuchsia;
	font-size: 14px;
	padding: 10px;
	margin-bottom: 15px;
	margin-top: 15px;
	-webkit-transform:rotate(5deg);
	-webkit-box-shadow:10px 10px 5px #888;
	-webkit-border-radius:15px;
}
#clinbox {
	color: #000;
	background-color: yellow;
	font-size: 14px;
	padding: 5px;
	margin-bottom: 15px;
	margin-top: 15px;
}
#logo  {
	background-color: white;
/* 	background-image: url(images/mulogo.gif); */
	background-repeat: no-repeat;
	height: 25px;
	text-align: right;
	padding: 3px;
	clear: both; }
#linkstp {
    position: fixed;
    top: 260px;
	left: 0;
	}

/*class*/
.references   {
	font-size: 10px;
	text-align: left;
	left: auto
}
.butNav {
	float: left;
	width: 16%;
	padding: 5px}
.caption {
	font-style: italic;
}
.warning, .warning a {
	color:#00FF00;
	background-color:#330099;
	font-weight:bold;
}
.warning a:hover {
	color: red;
	text-decoration: none;
}
.exampbox {
	float: right;
	width:300px;
	margin-left: 10px;
	color: #000;
	background-color: orange;
	font-size: 14px;
	padding: 5px;
	margin-bottom: 15px;
	margin-top: 15px;
}
.sup {
	position: relative;
	bottom: 0.5em;
	font-size: 0.8em;
}
.sub {
	position: relative;
	top: 0.3em;
	font-size: 0.8em;
}
.titleSG   {
	color: #003333;
	font-size: 18px;
	line-height: 20px;
	background-color: #ff6666;
	padding-left: 12px
}
.footerSG  {
	color: #333333;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	background-color: #ff6666 ;
}

.sgH3 {
	color: #333333;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px
}
.tableTitle {
	background-color: #FFFF00;
	font-weight:bold;
}

.box1SG {
	background-image:   url(../pharmBits/images/med-bottle.jpg);
	background-repeat: repeat-x;
	background-position: left center;
	border: 0px none #99FF99;
}
.sectTitle {
	font-family: "Jokerman LET";
	font-size: 80px;
	line-height: 80px;
	color: yellow;
}
.box1SGhtml {
	background-image:   url(../pharmBits/images/redClouds.jpg);
	background-repeat: repeat-x;
	background-position: left center;
	border: 0px none #99FF99;
	margin: 0px;
	padding: 0px;
}

.indent120 { margin-left: 120px; }
#colLeft {
	float: left;}
#colRight {
	float: right;
	margin-right: 100px}

#mainBody {
	width: 100%;
	clear: both}
#menuL {
	position: fixed;
	left: 20px;
	top: 120px;}

/*vertical menu*/
#suckerfish {
	position: fixed;
	top: 80px;
	left: 0;
}
#nav, #nav ul, .nav, .nav ul { /* all lists */
		padding: 0;
		margin: 0;
		list-style: none;
		float : left;
		width : 9em;
	}

#nav a.daddy, .nav a.daddy {
	background: rgba(255, 192, 203, 0.3) url(tri1.gif) no-repeat right center;
	}

#nav li, .nav li { /* all list items */
		position : relative;
		float : left;
		line-height : 1.5em;
		margin-bottom : -1px;
		width: 9em; }

	#nav li ul, .nav li ul { /* second-level lists*/
		position : absolute;
		left: -999em;
		margin-left : 9.5em;
		margin-top : -1em;
	}

	#nav li ul ul, .nav li ul ul { /* third-and-above-level lists */
		left: -999em;
	}

	#nav li a, .nav li a {
		width: 9em;
		w\idth : 9em;
		display : block;
		color : blue;
		font-weight : normal;
		text-decoration : none;
		background-color : rgba(255, 192, 203, 0.4);
		border : 0;
		padding : 0 0.5em;
	}

	#nav li a:hover, .nav li a:hover {
		color : teal;
		background-color : rgba(255, 192, 203, 1);
	}

	#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul, .nav li:hover ul ul, .nav li:hover ul ul ul, .nav li.sfhover ul ul, .nav li.sfhover ul ul ul {
		left: -999em;
		
	}

	#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul, .nav li:hover ul, .nav li li:hover ul, .nav li li li:hover ul, .nav li.sfhover ul, .nav li li.sfhover ul, .nav li li li.sfhover ul { /* lists nested under hovered list items */
		left: auto;
		background-color :rgba(255, 192, 203, 1);
	}
