.bodytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.header2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	color: #0000FF;
}
.goodchoice {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #006600;
}
.badchoice {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #FF00FF;
}
.backGr {
	background-image: url(images/syringe.jpg);
}
.header3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #0000FF;
	font-weight: bold;
}
.backGrBlood {
	background-image: url(feral_cat/blood.gif);
}
.caseBoxBg {
	background-image: url(syringe03.jpg);
}
