body {
			font: 15px arial, helvetica, sans-serif;
			color: black;
		}
	
		a {
			color: blue;
		}
	
		ul { /* all lists... */
			padding: 0;
			margin: 0;
			background: yellow;
			transition: 1s;
		}
	
		li { /* all list items... */
			display: block; /* set the list items left-to-right */
			position: relative; /* set the origin for child boxes to be positioned from */
			left 20px;
			transition: 1s;
		}

		ul ul { /* lists within lists... */
			position: relative; /* place them over the top of everything */
			left: 10px; /* align them to the left of the parent list item  - necessary for some older browsers */
			top: 100%; /* align them to the bottom of the parent list item - again only necessary for older browsers */
			display: none; /* hide 'em */
			transition: .5s;
		}
	
		li:hover > ul { /* when list items are hovered over, do this to lists contained within them... */
			display: block;
			transition: .5s; /* show 'em */
		}