@import url();

body {
	font-family: Helvetica, Verdana, sans-serif;
	font-size: 90%;
	line-height: 1.6em;
	text-align: left;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	background: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}

#curr {
    margin-top: 10px;
   padding: 0 0 0 5px;
}

#curr ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#curr > ul > li {
  margin-bottom: 5px; 
}

#curr ul li {
  padding-bottom: 5px; 
} 

#curr ul li ul {
    height: 0;
    margin-left: 8px;
    visibility:hidden;  
    list-style: none;   
}

#curr ul li ul li {
    padding-left: 10px;
    text-indent: -10px;   
}


#curr ul li:hover ul {
    height: auto;
    visibility:visible;      
    margin-bottom: 5px;  
}

#curr ul li:hover {  
    background-color: #e3f0ff;
    -webkit-transition: all .25s ease;
    transition: all .25s ease;   
}
